<section style="padding: 0;margin: 0;" id="secondnavid">
  <div class="grid-item">
    <button style="width: 100px;" type="button" class="btn btn-light">Provider#1</button>
  </div>
  <div class="grid-item">
    <button style="width: 100px;" type="button" class="btn btn-light activan">Provider#2</button>
  </div>
  <div class="grid-item">
    <button style="width: 100px;" type="button" class="btn btn-light">Provider#3</button>
  </div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</section>
