<section style="padding: 0;margin: 0;" id="rightid">
  <form>
    <label>
      <h5>Make avalible for:</h5>
    </label>
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
      <input type="radio" id="option-1" class="mdl-radio__button" name="options">
      <span class="mdl-radio__label">All users</span>
    </label>
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
      <input type="radio" id="option-1" class="mdl-radio__button" name="options">
      <span class="mdl-radio__label">Selected users</span>
    </label>
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
      <input type="radio" id="option-1" class="mdl-radio__button" name="options">
      <span class="mdl-radio__label">Users in following location</span>
    </label>

    <label for="dateofbirth">Date Of Birth</label>
    <input type="date" name="dateofbirth" id="dateofbirth">

    <label id="checkboxid" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
      <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
      <span class="mdl-checkbox__label">Add to recommend</span>
    </label>

  </form>
  <div>

  </div>
</section>
