<section style="padding: 0;margin: 0;">
  <div class="logoItemFirst">
    <div class="logoItem"></div>
  </div>
  <div class="item1">
    <p><i class="material-icons">burst_mode</i> MAGAZINES</p>
  </div>
  <div class="item1">
    <p><i class="material-icons">radio</i> RADIO</p>
  </div>
  <div class="item1">
    <p><i class="material-icons">headset</i> MUSIC</p>
  </div>
  <div class="item1">
    <p><i class="material-icons">live_tv</i> MOVIES & TV SERIES</p>
  </div>
  <div class="item1">
    <p><i class="material-icons">laptop</i> TUTORIALS</p>
  </div>
  <div class="item1">
    <p><i class="material-icons">import_contacts</i> NEWS</p>
  </div>
  <div class="item1">
    <p><i class="material-icons">polymer</i> EXERCISE</p>
  </div>
</section>
