<section style="padding: 0;margin: 0;" id="firssectionid">
  <div class="grid-item">
    <input class="form-control" type="text" placeholder="Search Library" [(ngModel)]="search" (ngModelChange)="onSearch.emit($event)">
  </div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item">
    <div style="display: inline-block" class="image1"></div>
    <div style=" color: grey; text-align: center; position: relative; bottom: 20px; font-weight: bold; margin-left: 5px; display: inline-block">Anthony Delmas</div>
    <div style="text-align: center; position: relative; bottom: 13px; font-weight: bold; margin-left: 25px; border-left: 2px solid grey; color: grey; padding-left: 30px; display: inline-block"><i class="material-icons">settings</i></div>
</div>
</section>
